#body{
    background-color:#ffffcc;
    margin: 10px;
}
.form-control{
    width:40%;
}
.modal-body{
    color:#990000;
}
.navbar,.modal-header,.modal-footer{
    background-color:#990000;
    border-color:#990000;
}

.modal-body{
    background-color:#ffffcc;
}
#a{
    color:white;
}
#a:hover{
    color:#ff9999;
}
#li1{
    padding:10px;
}
.container_img{
    width:1100px;
    margin:0 auto;
}
.carousel .item {
    height: 500px;

}
#myCarousel{
    border: 0px solid #990000;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
    display:none;
}
.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}
#li1{
    border-color:#990000;
    background-color:#990000;
    width:95%;
    border-radius:10px;
    text-align:center;
    font-size:15px;
    font-family:Copperplate Gothic Bold;
}



#h41
{
    display:none;
    padding:20px;
}