#body{
    background-color:#ffffe6;
}

.modal-body{
    color:#990000;
}
.navbar,.modal-header,.modal-footer{
    background-color:#990000;
    border-color:#990000;
}







body {
  margin: 10px;
}

#signup {
  position: absolute;
  width: 550px;
  height: 1000px;
  z-index: 15;
  top: 45%;
  left: 42%;
  margin: -100px 0 0 -150px;
  background-color: #ffffcc;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
}

#signup1
{
  width:500px;
   position: absolute;
    left: 5%;
}

#submit
{
background-color:#990000;
width:355px;
color:white;
margin-left:15%;
}

#hr
{

  border-color:#990000;
}



label
{
  color:#990000;
}

h4
{
  color:#990000;
  text-align:center;
}

#h1
{
    padding:20px;
    display:none;
}

#form label.error
{

color:red;
 font-size:20px;
}